h1 {
	text-align: center;
}

img {
	vertical-align: middle;
	padding-right: 20px;
}

span {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #000000;
}

span:hover {
	color: #EB382E;
	border-bottom: solid 2px #EB382E;
}

#row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}