<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer Midterm Website </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/project1.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

</head>

<body>

	<header>
			<a href="../index.html"> <img src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		<nav>
			<a href="contact.html">Contact</a>
			<a href="about.html">About</a>
			<a href="../index.html">Portfolio</a>
		</nav>
	</header>

	<h1> This summer, I went on a roadtrip with my friends <br> to explore the American Southwest. </h1>

	<h2> Below are select images taken on the trip. </h2> 


	<p id="info" style="display:none"> Throughout our 5 day trip, we traveled from Kansas City to Texas, New Mexico, and Colorado. <br> We drove to Amarillo on the first night, White Sands the second night, Santa Fe for two nights, <br> and Colorado Springs for our final night. In sum, it was a glorious five days spent listening to all of <br> the old jams, eating way too much fried food, and me making my two friends pull over way too <br> many times so I could take photos. There was a surplus of caffeine involved as well. </p>

	<center> <button type="button" onclick="document.getElementById('info').style.display='block'">Click to learn more about my trip!</button> </center>

	<div class="photos">

		<img src="../media/southwest_bluehome.jpg" alt="Decrepit blue house" width="500px" height="334px" class="responsive" id="pic1">
		<img src="../media/southwest_storageunit.jpg" alt="Cheap storage unit" width="500px" height="334px"class="responsive">
	</div>
	<div class="photos">
		<img src="../media/southwest_americanamotel.jpg" alt="Man walking to motel" width="500px" height="334px"class="responsive">
		<img src="../media/southwest_tucumcaribuilding.jpg" alt="Interesting abandoned building" width="500px" height="334px"class="responsive">
	</div>
	<div class="photos">
		<img src="../media/southwest_rvpark.jpg" alt="RV park atop a hill" width="500px" height="334px"class="responsive">
		<img src="../media/southwest_carrepair.jpg" alt="Car repair outside of Santa Fe" width="500px" height="334px"class="responsive">
	</div>





</body>